<!DOCTYPE html>
<html lang="de" class="dark motion-safe:scroll-smooth">
	<head>
		<%- include('../partials/head') %>
		<title><%- htmlTitle %></title>
	</head>
	<body>
		<%- include('../partials/navigation') %>
		<div class="px-4 mx-auto text-lg max-w-[120ch]">
			<h1 class="text-4xl border-b border-neutral-600 mb-4 pb-3"><%= pageTitle %></h1>
			<select
				class="bg-neutral-400 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-300
				       p-3 mb-2"
				name="seasonSelector"
				id="seasonSelector">
				<% currentShow.seasons.forEach((season)=> { %>
					<option
						value="<%=season.seasonId%>"
						<% if (season.seasonId == currentSeason.seasonId) { %>
						selected
						<% } %>
						>
						<%= season.name %>
					</option>
				<% }) %>
			</select>
			<ul id="episodeWrapper" class="flex flex-col gap-3">
				<% currentSeason.episodes.forEach((episode) => { %>
					<li class="block w-full bg-neutral-300 dark:bg-neutral-900 group overflow-y-hidden">
						<a
							href="/watch/<%= currentShow.tvShowId %>/<%= currentSeason.seasonId %>/<%= episode.episodeId %>"
							class="flex flex-row h-40 gap-2">
							<div
								class="bg-[linear-gradient(to_right,var(--tw-gradient-stops)),linear-gradient(to_right,var(--tw-gradient-stops)),url('/images/placeholder-40x40.jpeg')]
									     md:bg-[linear-gradient(to_right,var(--tw-gradient-stops)),url('/images/placeholder-40x40.jpeg')]
								       from-neutral-300/10 dark:from-neutral-900/10 to-neutral-300/100 dark:to-neutral-900/100
											 md:from-transparent md:dark:from-transparent md:to-neutral-300/100 md:dark:to-neutral-900/100
											 lg:from-transparent lg:to-transparent lg:dark:from-transparent lg:dark:to-transparent
											 dark:
								       bg-origin-border bg-cover aspect-[4/3]
								       "></div>
							<div class="flex flex-col -ml-16 md:-ml-8 lg:ml-0 p-3">
								<div>
									<h1 class="text-2xl font-bold"><%= episode.name %></h1>
									<span><%= moment(episode.firstAired).format('DD.MM.YYYY') %> - <% if (episode.videoLength) {%>
										<span title="Dieses einzelne Längenfeature hat mich etwa 5 Stunden<%='\n'%>meiner Lebenszeit gekostet. Also findest du es gefälligst toll!">
											<%= episode.videoLength %> Minuten
										</span>
									<% } else { %>
										Nicht verfügbar
									<% } %>
									</span>
								</div>
								<p><%= episode.slug %></p>
							</div>
						</a>
					</li>
				<% }); %>
			</ul>
		</div>
		<%- include('../partials/footer') %>
	</body>
</html>
