<!DOCTYPE html>
<html lang="de" class="dark motion-safe:scroll-smooth">

<head>
	<%- include('../partials/head') %>
		<title><%- htmlTitle %></title>
</head>

<body class="bg-black text-white h-[100vh] overflow-y-auto">
	<video id="the-video" class="h-full mx-auto z-10" autoplay>
		<source src="/data/tv_videos/<%= videoname %>">
	</video>


	<div id="video-controls-wrapper"
		class="absolute inset-0 content-center align-middle z-50 opacity-0 hover:opacity-100 focus-within:opacity-100 transition-opacity">
		<div id="upper-video-controls" class="absolute flex justify-between w-full top-0 text-4xl p-8
				       bg-gradient-to-b from-black/60">
			<div>
				<a href="<%= backlink %>">
					<%- heroicon({icon: 'arrow-left' , classes: 'self-center inline h-12' , style: 'solid' }) %></a>
			</div>
			<div>
				<p id="text-video-title">
					<%= episodename %>
				</p>
			</div>
			<div></div>
		</div>
		<div id="center-video-overlay" class="absolute top-[45%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
			<span class="absolute hidden">Play icon</span>
			<span class="absolute hidden">Pause icon</span>
			<span class="absolute hidden">Loading...</span>
		</div>
		<div id="lower-video-controls" class="absolute bottom-0 text-4xl w-full p-8 flex flex-col bg-gradient-to-t
				       from-black/60">
			<div>
				<div id="lower-action-buttons" class="flex flex-row justify-between align-middle mb-6">
					<div></div>
					<div></div>
					<div>
						<button id="skip-current-section" class="bg-neutral-700 text-neutral-100 rounded-lg p-2 text-xl hidden">
							Skip section
						</button>
					</div>
				</div>
				<div id="timeline-container" class="flex gap-6 h-3 w-full group cursor-pointer mb-4">
					<div id="timeline" class="relative w-full h-1.5 mt-0.5 group-hover:mt-0 group-hover:h-3 bg-neutral-100/50 transition-all
							       before:content before:left-0 before:top-0 before:bottom-0 before:absolute
										 before:right-[calc(100%_-_var(--preview-position)_*_100%)]
										 before:bg-neutral-100/50
										 after:content after:left-0 after:top-0 after:bottom-0 after:absolute
										 after:right-[calc(100%_-_var(--progress-position)_*_100%)]
										 after:bg-neutral-100">
						<div id="timeline-indicator" class="scale-0 absolute -translate-x-[50%] h-[200%] -top-[50%]
								       left-[calc(var(--progress-position,_0)_*_100%)]
											 bg-neutral-100 group-hover:scale-100
											 rounded-full aspect-square transition-transform">
						</div>
					</div>
				</div>
				<div id="lower-ctl-buttons" class="flex flex-row justify-between align-middle">
					<div class="flex gap-6">
						<button id="btn-playpause">
							<span id="playpause-play">
								<%- heroicon({icon: 'play' , classes: 'self-center inline h-12' , style: 'solid' }) %>
							</span>
							<span id="playpause-pause" class="hidden">
								<%- heroicon({icon: 'pause' , classes: 'self-center inline h-12' , style: 'solid' }) %>
							</span>
						</button>

						<div id="volume-container" class="group">
							<button id="btn-volumectl">
								<span id="volumectl-muted" class="hidden">
									<%- heroicon({icon: 'speaker-x-mark' , classes: 'self-center inline h-12' , style: 'solid' }) %>
								</span>
								<span id="volumectl-quiet" class="hidden">
									<%- heroicon({icon: 'speaker-wave' , classes: 'self-center inline h-12' , style: 'solid' }) %>
								</span>
								<span id="volumectl-loud" class="hidden">
									<%- heroicon({icon: 'speaker-wave' , classes: 'self-center inline h-12' , style: 'solid' }) %> </span>
							</button>
							<input class="cursor-pointer origin-left accent-neutral-100 bg-neutral-100
												scale-x-0 group-hover:scale-x-100 group-focus-within:scale-x-100
												w-0 group-hover:w-32 group-focus-within:w-32
												opacity-0 group-hover:opacity-100 group-focus-within:opacity-100
												transition-[width,_transform] ml-2" type="range" id="volumectl-slider" min="0" max="1" step="any"
								value="1">
						</div>

						<div id="videotime-container" class="mt-1">
							<span id="videotime-current">00:00</span>
							/
							<span id="videotime-total">00:00</span>
						</div>
					</div>
					<div class="flex gap-6"></div>
					<div class="flex gap-6">
						<button id="btn-open-next-episode" data-next-episode="<%= JSON.stringify(nextEpisode) %>"
							class="<% if(nextEpisode===null || nextEpisode==='null') { %>hidden<% } %>">
							<%- heroicon({ icon: 'forward' , classes: 'self-center inline h-12' , style: 'solid' }); %>
						</button>
						<button id="btn-fullscreen">
							<span id="fullscreen-enable">
								<%- heroicon({ icon: 'arrows-pointing-out' , classes: 'self-center inline h-12' , style: 'solid' }); %>
							</span>
							<span id="fullscreen-disable" class="hidden">
								<%- heroicon({ icon: 'arrows-pointing-in' , classes: 'self-center inline h-12' , style: 'solid' }); %>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
