<!DOCTYPE html>
<html lang="de" class="dark motion-safe:scroll-smooth">
	<head>
		<%- include('../partials/head') %>
		<title><%- htmlTitle %></title>
	</head>
	<body>
		<%- include('../partials/navigation') %>
		<article class="px-4 mx-auto overflow-x-clip max-w-[75ch]
		                prose prose-lg dark:prose-invert prose-headings:font-normal
		                prose-p:my-1 prose-headings:my-2
		                prose-h1:text-4xl prose-h1:border-b prose-h1:pb-3
	                  prose-h1:mb-4 prose-h1:border-gray-600">
			<h1><%- pageTitle %></h1>
			<section>
				<% if (article.article_original_publication_time.getTime() === 
				       article.article_last_update_time.getTime()) { %>
					<p>
						Veröffentlicht
						<span title="<%=moment(article.article_original_publication_time).format('DD.MM:YYYY hh:mm')%>">
							<%= moment(article.article_original_publication_time).fromNow() %>
						</span>
					</p>
				<% } else { %>
					<p>
						Veröffentlicht
						<span title="<%=moment(article.article_original_publication_time).format('DD.MM:YYYY hh:mm')%>">
							<%= moment(article.article_original_publication_time).fromNow() %>
						</span>
						<br>
						Letztes Update
						<span title="<%=moment(article.article_original_publication_time).format('DD.MM:YYYY hh:mm')%>">
							<%= moment(article.article_last_update_time).fromNow() %>
						</span>
					</p>
				<% } %>
			</section>
			<p><%= revision.blurb %></p>
			<%- showdownConverter(revision.content) %>
		</article>
		<%- include('../partials/footer') %>
	</body>
</html>
