<!DOCTYPE html>
<html lang="de" class="dark motion-safe:scroll-smooth">
	<head>
		<%- include('../partials/head') %>
		<title><%- htmlTitle %></title>
	</head>
	<body>
		<%- include('../partials/navigation') %>
		<div class="flex flex-col gap-8 lg:flex-row justify-center">
			<form
				class="ml-8 flex flex-col min-w-[40%] gap-4"
				action=""
				method="post">

				<div>
					<input type="hidden" name="creationType" id="creation-type" value="<%= creationType %>"/>
				</div>

				<div class="flex flex-col">
					<label for="blogedit-pagetitle">Seitentitel</label>
					<% if (creationType === 'create') { %>
						<input class="text-redgray-800" type="text" name="blogeditPagetitle" id="blogedit-pagetitle">
					<% } else { %>
						<input class="text-redgray-800" type="text" name="blogeditPagetitle" id="blogedit-pagetitle" value="<%= articleContent.title %>">
					<% } %>
				</div>

				<div class="flex flex-col">
					<label for="blogedit-blurb">Vorschautext</label>
					<% if (creationType === 'create') { %>
						<input class="text-redgray-800" type="text" name="blogeditBlurb" id="blogedit-blurb">
					<% } else { %>
						<input class="text-redgray-800" type="text" name="blogeditBlurb" id="blogedit-blurb" value="<%= articleContent.blurb %>">
					<% } %>
				</div>
				
				<div class="flex flex-col">
					<label for="blogedit-content">Inhalt</label>
					<% if (creationType === 'create') { %>
						<textarea class="font-mono text-redgray-800" type="text" name="blogeditContent" id="blogedit-content"></textarea>
					<% } else { %>
						<textarea class="font-mono text-redgray-800" type="text" name="blogeditContent" id="blogedit-content"><%= articleContent.content %></textarea>
					<% } %>
				</div>

				<div class="flex flex-col">
					<label for="blogedit-htmltitle">HTML Titel</label>
					<% if (creationType === 'create') { %>
						<input class="text-redgray-800" type="text" name="blogeditHtmlTitle" id="blogedit-htmltitle">
					<% } else { %>
						<input class="text-redgray-800" type="text" name="blogeditHtmlTitle" id="blogedit-htmltitle" value="<%= articleContent.htmlTitle %>">
					<% } %>
				</div>
				
				<div class="flex flex-col">
					<label for="blogedit-urlid">URL-ID</label>
					<% if (creationType=== 'create') { %>
						<input class="text-redgray-800" type="text" name="blogeditUrlId" id="blogedit-urlid">
					<% } else { %>
						<input class="cursor-not-allowed text-redgray-800 bg-redgray-300" type="text" name="blogeditUrlId" id="blogedit-urlid" value="<%= article.url_id %>" disabled>
					<% } %>
				</div>

				<% if (creationType==='create') { %>
				<div class="flex flex-col gap-8">
					<div class="inline-block align-middle">
						<input
							type="checkbox"
							name="blogeditSchedulePublication"
							id="blogedit-schedule-publication">
						<label for="blogedit-schedule-publication">Veröffentlichung planen</label>
					</div>
					<div class="hidden">
						<label for="blogedit-publish-time">Veröffentlichungszeitpunkt</label>
						<input
							type="datetime-local"
							name="blogeditPublishTime"
							id="blogedit-publish-time">
					</div>
				</div>

				<div class="inline-block">
					<input
						class=""
						type="checkbox"
						name="blogeditPublishUnlisted"
						id="blogedit-publish-unlisted">
					<label for="blogedit-publish-unlisted">Ungelistet (Nur mit Direktlink abrufbar)</label>
				</div>

				<% } %>

				<% if(creationType === 'create') { %>
					<input
						class="block mt-4 cursor-pointer py-2 px-4 bg-redgray-700 text-redgray-200 dark:bg-redgray-900"
						id="blogedit-submit"
						type="submit"
						value="Artikel erstellen">
				<% } else { %>
					<input
						class="block mt-4 cursor-pointer py-2 px-4 bg-redgray-700 text-redgray-200 dark:bg-redgray-900"
						id="blogedit-submit"
						type="submit"
						value="Artikel aktualisieren">
				<% } %>
				

			</form>
			<article
				class="min-w-[40%]
				       prose prose-lg dark:prose-invert prose-headings:font-normal
				       prose-p:my-1 prose-headings:my-2
				       prose-h1:text-4xl prose-h1:border-b prose-h1:pb-3
				       prose-h1:mb-4 prose-h1:border-gray-600">
				<h1 id="blogpreview-title">
					<% if (creationType === 'create' ) { %>
					Neuer Blogeintrag
					<% } else { %>
						<%= articleContent.title %>
					<% } %>
				</h1>
				<section>
					<p>
						<% if (creationType === 'create') { %>
							Veröffentlicht
							<span title="<%=moment().format('DD.MM.YYYY hh:mm') %>">
								<%= moment().fromNow() %>
							</span>
						<% } else { %>
							Veröffentlicht
							<span title="<%=  moment(article.original_publication_time).format('DD.MM.YYYY hh:mm') %>">
								<%= moment(article.original_publication_time).fromNow() %>
							</span><br>
							Zuletzt aktualisiert
							<span title="<%= moment().format('DD.MM.YYYY hh:mm') %>">
								<%= moment().fromNow() %>
							</span>
						<% } %>
						
					</p>
				</section>
				<section>
					<p id="blogpreview-blurb"></p>
				</section>
				<div id="blogpreview-content"></div>
			</article>
		</div>
		<%- include('../partials/footer') %>
	</body>
</html>
