<!DOCTYPE html>
<html lang="de" class="dark motion-safe:scroll-smooth">

<head>
	<%- include('../partials/head') %>
		<title><%- htmlTitle %></title>
</head>

<body>
	<%- include('../partials/navigation') %>
		<div class="max-w-[75ch] px-4 mx-auto text-lg w-full">
			<h1 class="text-4xl border-b border-gray-600 mb-4 pb-3">
				<%- pageTitle %>
			</h1>
		</div>
		<%- include('../partials/footer') %>
</body>

</html>
